@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Old+Standard+TT&display=swap');

h2{
    font-family: 'Dancing Script', cursive;
    align-items: center;
}
@media (min-width: 768px){

    img{
        width: 100%;
        height: 100%;
    }


}

@media (max-width: 767px){
    @keyframes word-jiggle {
        0%{padding-top: 5%;
            opacity: 0%;}
      }
      
    .title-index{
        margin-top: 15%;
    }
    .magine {
        margin-top: 15%;
    }

    .main-tit{
        margin-top: 10%;
    }

    img{
        width: 100%;
        height: 100%;
        animation-name: word-jiggle;
        animation-duration: 2s;
    }

}