@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Old+Standard+TT&display=swap');
@media (max-width: 767px){
  body {
    margin: 0;
    background: #ffffff;
    color: #d49bd0;
    font-weight: light;
    font-family: 'Old Standard TT', serif;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 10% ;
    z-index: 1;
  }

  ul{
    display: block;
    width: 90%;
    font-size: 60%;
  }

  ul a {
    color: #d49bd0;
    text-decoration: none;

  }

  .socDist {
    width: 100%;
    padding-right: 1%;
    padding-bottom: 2%;
    animation-name: word-opac;
    animation-duration: 4s;
  }

  .nav {
    display: inline;
    text-decoration: none;
    padding: 2%;

  }

  .lis-item{
    text-decoration: none;
    color: #999999 ;
    padding: 2%;
    text-align: center;
  }
  
  .lis-item a{
    padding: 2%;
  }

  label {
    position: absolute;
    right: 0;
  }
  
  input {
    display: none;
    z-index: 5;
  }
  
  input:checked ~ label {
    right: 0;
  }
  
  .burger {
    position: fixed;
    padding-top: 5%;
    padding-left: 5%;
    z-index: 5;
  }
  
  .burger g {
    stroke: #d49bd0;
    -webkit-transition: stroke 0.25s ease-in;
    transition: stroke 0.25s ease-in;
  }
  
  input:checked ~ label .burger {
    opacity: 0;
  }
  
  .close {
    position: relative;
    padding-top: 20%;
    opacity: 0;
    z-index: 6;
  }
  
  .close g {
    stroke: #d49bd0;
    -webkit-transition: stroke 0.25s ease-out;
    transition: stroke 0.25s ease-out;
  }
  
  .close line {
    -webkit-transform-origin: 0%;
            transform-origin: 0%;
  }
  
  .close g {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-transform-origin: 0%;
            transform-origin: 50%;
  }
  
  input:checked ~ label .close {
    opacity: 1;
    z-index: 5;
  }
  
  .Menu-thing {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-transition: opacity 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-size: 290%;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    right: 200%;
    z-index: 4;
  }
  
  input:checked ~ .Menu-thing {
    Right: 2%;
  }

  @keyframes word-opac{
    0%   {opacity: 0%;
           font-size: 80%;           }
    50%  {opacity: 50%;}
    100% {opacity: 100%; }
  }


  .Menu-thing li {
    animation-name: word-opac;
    animation-duration: 1s;
    font-size: 150%;
  }

  .Menu-thing h1{
    color: grey;
    animation-name: word-opac;
    animation-duration: 4s;
  }

  .Menu-thing ul{
    padding-top: 10%;
  }
 
/* We try */


  .footer {
    width: 100%;
    background-color: #ffffff;
    color:#808080; 
    position: fixed;
    float: none;
    padding: 1.5%;
    bottom: 0 ;
  }

  .logo {
    width: 12%;
    height: 12%;
    position: absolute;
    padding: 2%;
}

}
@media (min-width: 768px){
    body {
      padding-left: 20%;
      background: #ffffff;
      color: #d49bd0;
      font-weight: light;
      font-family: 'Old Standard TT', serif;
      height: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 0;
    }

    .logo {
      width: 10%;
      height: 10%;
      padding-left: 5%;
      padding-top: 2%;
  }

    .brand-name{
      display: none;
    }

    .Menu-thing {
      list-style: none;
      margin: 0;
      height: 100%;
      width: 20%;
      position: absolute;
      top: 0;
      left: -4%;
      padding: 3%;
      box-shadow: 3px -10px 8px rgba(2,2,2,.5);
     }

    ul a {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      left: 0;
      margin: auto;
      text-decoration: none;
    }

    ul a:hover {
      box-shadow: -3px 1px 8px rgba(2,2,2,.5);
    }

    .nav {
      display: inline;
      text-decoration: none;
      padding: 3%;
    }
    
    .lis-item{
      text-decoration: none;
      color: #999999 ;
      padding: 2%;
    }
    
    .lis-item a{
      padding: 5%;
    }

    .footer {
      width: 79%;  
      background-color: #ffffff;
      color:#d49bd0; 
      position: fixed;
      left: 22%;
      float: none;
      bottom: 0 ;
    }

    label {
      position: fixed;
      margin: 0;
    }
    #test {
      display: none;
      position: fixed;
      margin: 0;
    }


}